# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
rag_env/

# Project Specific
# vector_db/ (Enabled for deployment)
data/classical/indexed_data/

# IDE settings
.vscode/
.idea/
